h1 {
  color:#ffffff;
  border-style: double;
  border-width: 7px;
  padding: 10px;
  border-color:#2a0012;
  text-align: center;
  text-shadow: -1px 1px 0 #000000,
                1px 1px 0 #000000,
                1px -1px 0 #000000,
                -1px 1px 0 #000000;
}
h2 {
  color:rgb(255, 255, 255);
  border-width: 2px;
  border-color: #2a0012;
}
body {
  background-color: #8f002b;
}
img.drawing {
  width: 30%;
}
img.me {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border: 5px solid #2a0012;
}
p {
  text-align: center;
}
article {
  border: 3px solid #2a0012;
  border-style: double;
  background-color: hsl(342, 75%, 27%);
}
p.details {
  background-color: white;
}
nav {
  text-align: center;
}
a.nav:visited, a.nav:link {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;  
}
a.nav:hover, a.nav:active {
  background-color:red;
}
footer {
  color: white;
}
